body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
}



#container {
 
    margin:0 auto;
    width:400px;
    padding:20px;
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;

    background-color:rgb(255, 255, 255);
    border-radius:20px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.699);
}

#container > #choices > button{
    padding:10px;
    font-size:15px;
    text-align: center;
    border-radius:10px;
    background-color:skyblue;
    color:white;
    font-weight:500;

    cursor:pointer;

}

#container > #choices > button:hover{
    background-color:rgb(94, 202, 245);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

#question{

}

